
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #16233b;
    color:white;
}
a{
    font-size: 12px;
    font-family: monospace;
    padding:10px;
    text-decoration:none;
    color:white;
}
